body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-and-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#stockInfoContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.info-box {
  flex-basis: 48%;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #005288;
}

input[type="text"],
button {
  font-size: 16px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #005288;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #003354;
}

#chartContainer {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#stockNews {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newsItem {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.newsItem:last-child {
  border-bottom: none;
}

.newsItem h3 {
  margin: 0;
  padding-bottom: 5px;
  color: #005288;
}

.newsItem p,
.newsItem a {
  margin: 0;
  padding: 5px 0;
  color: #333;
}

.newsItem a {
  color: #007bff;
  text-decoration: none;
}

.newsItem a:hover {
  text-decoration: underline;
}

.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  color: #005288;
  padding: 10px 0;
  width: 100%; /* Ensure this is full width to see the effect */
}

.stock-info {
  display: inline-block;
  margin-right: 20px;
  padding: 0 15px;
}

.ticker-container {
  animation: ticker 20s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
